In [1]:
import pandas as pd

In [2]:
from google.colab import files
uploaded=files.upload()

Saving Salaries.csv to Salaries.csv

In [4]:
df=pd.read_csv("Salaries.csv")

In [5]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [6]:
pd.set_option('display.max_columns',None)

In [7]:
df.head(12)

         rank discipline  phd  service   sex  salary
0        Prof          B   56       49  Male  186960
1        Prof          A   12        6  Male   93000
2        Prof          A   23       20  Male  110515
3        Prof          A   40       31  Male  131205
4        Prof          B   20       18  Male  104800
5        Prof          A   20       20  Male  122400
6   AssocProf          A   20       17  Male   81285
7        Prof          A   18       18  Male  126300
8        Prof          A   29       19  Male   94350
9        Prof          A   51       51  Male   57800
10       Prof          B   39       33  Male  128250
11       Prof          B   23       23  Male  134778

In [8]:
df.tail()

         rank discipline  phd  service     sex  salary
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [9]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [10]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [11]:
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [12]:
df['phd'].describe()

count    78.000000
mean     19.705128
std      12.498425
min       1.000000
25%      10.250000
50%      18.500000
75%      27.750000
max      56.000000
Name: phd, dtype: float64

In [13]:
df['phd'].mean()

19.705128205128204

In [14]:
df['phd'].max()

56

In [15]:
df.quantile(0.25)

phd           10.25
service        5.25
salary     88612.50
Name: 0.25, dtype: float64

In [16]:
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

phd            18.5
service        14.5
salary     104671.0
dtype: float64

In [17]:
df['sex'].value_counts()

Male      39
Female    39
Name: sex, dtype: int64

In [18]:
df['rank'].value_counts()

Prof         46
AsstProf     19
AssocProf    13
Name: rank, dtype: int64

In [19]:
df[['phd','service']].mean()

phd        19.705128
service    15.051282
dtype: float64

In [20]:
df.mode()

   rank discipline  phd  service     sex   salary
0  Prof          B  4.0      3.0  Female  92000.0
1   NaN        NaN  NaN      NaN    Male      NaN

In [21]:
df.shape

(78, 6)

In [22]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [23]:
df.iloc[[5,9,10,16,18,20],:]

        rank discipline  phd  service   sex  salary
5       Prof          A   20       20  Male  122400
9       Prof          A   51       51  Male   57800
10      Prof          B   39       33  Male  128250
16  AsstProf          B    8        3  Male   75044
18      Prof          A   19        7  Male  107300
20  AsstProf          B    4        4  Male   92000

In [24]:
df.iloc[:,[0,3,5]]

         rank  service  salary
0        Prof       49  186960
1        Prof        6   93000
2        Prof       20  110515
3        Prof       31  131205
4        Prof       18  104800
..        ...      ...     ...
73       Prof       10  105450
74  AssocProf        6  104542
75       Prof       17  124312
76       Prof       14  109954
77       Prof       15  109646

[78 rows x 3 columns]

In [25]:
df.iloc[[5,9,10,16,18,20],[0,3,5]]

        rank  service  salary
5       Prof       20  122400
9       Prof       51   57800
10      Prof       33  128250
16  AsstProf        3   75044
18      Prof        7  107300
20  AsstProf        4   92000

In [26]:
df.iloc[25:31,:]

         rank discipline  phd  service   sex  salary
25       Prof          B   35       31  Male   99418
26       Prof          A   38       19  Male  148750
27       Prof          A   45       43  Male  155865
28   AsstProf          B    7        2  Male   91300
29       Prof          B   21       20  Male  123683
30  AssocProf          B    9        7  Male  107008

In [27]:
df.iloc[[1,5,9,4,7,8,3],:]

   rank discipline  phd  service   sex  salary
1  Prof          A   12        6  Male   93000
5  Prof          A   20       20  Male  122400
9  Prof          A   51       51  Male   57800
4  Prof          B   20       18  Male  104800
7  Prof          A   18       18  Male  126300
8  Prof          A   29       19  Male   94350
3  Prof          A   40       31  Male  131205

In [28]:
df.iloc[25:31,1:4]

   discipline  phd  service
25          B   35       31
26          A   38       19
27          A   45       43
28          B    7        2
29          B   21       20
30          B    9        7

In [29]:
df['discipline'].value_counts()

B    42
A    36
Name: discipline, dtype: int64

In [30]:
df[['salary','phd','service']]

    salary  phd  service
0   186960   56       49
1    93000   12        6
2   110515   23       20
3   131205   40       31
4   104800   20       18
..     ...  ...      ...
73  105450   18       10
74  104542   19        6
75  124312   17       17
76  109954   28       14
77  109646   23       15

[78 rows x 3 columns]

In [31]:
print(df['salary'].head())
print(df[['salary','service','phd']].head())

0    186960
1     93000
2    110515
3    131205
4    104800
Name: salary, dtype: int64
   salary  service  phd
0  186960       49   56
1   93000        6   12
2  110515       20   23
3  131205       31   40
4  104800       18   20

In [32]:
df[['salary','service']].min()

salary     57800
service        0
dtype: int64

In [33]:
df['phd'].describe()

count    78.000000
mean     19.705128
std      12.498425
min       1.000000
25%      10.250000
50%      18.500000
75%      27.750000
max      56.000000
Name: phd, dtype: float64

In [34]:
df['phd'].mean()

19.705128205128204

In [35]:
df[['rank','discipline']].value_counts()

rank       discipline
Prof       A             23
           B             23
AsstProf   B             11
AssocProf  B              8
AsstProf   A              8
AssocProf  A              5
dtype: int64

In [36]:
print(df['rank'].unique())

['Prof' 'AssocProf' 'AsstProf']

In [37]:
df.groupby('rank').mean()

                 phd    service         salary
rank
AssocProf  15.076923  11.307692   91786.230769
AsstProf    5.052632   2.210526   81362.789474
Prof       27.065217  21.413043  123624.804348

In [38]:
df.groupby(['rank','discipline'])['salary'].mean()

rank       discipline
AssocProf  A              73959.800000
           B             102927.750000
AsstProf   A              74450.000000
           B              86390.272727
Prof       A             111935.695652
           B             135313.913043
Name: salary, dtype: float64

In [39]:
df.groupby(['rank','sex'])['salary'].max()

rank       sex
AssocProf  Female    109650
           Male      119800
AsstProf   Female     97032
           Male       92000
Prof       Female    161101
           Male      186960
Name: salary, dtype: int64

In [40]:
df.groupby(['rank'])['salary'].max()

rank
AssocProf    119800
AsstProf      97032
Prof         186960
Name: salary, dtype: int64

In [41]:
df['rank']=='AssocProf'

0     False
1     False
2     False
3     False
4     False
      ...
73    False
74     True
75    False
76    False
77    False
Name: rank, Length: 78, dtype: bool

In [42]:
df[df['rank']=='AssocProf']

         rank discipline  phd  service     sex  salary
6   AssocProf          A   20       17    Male   81285
30  AssocProf          B    9        7    Male  107008
34  AssocProf          B   12        8    Male  119800
41  AssocProf          A   13        8  Female   74830
47  AssocProf          B   11       11  Female  103613
54  AssocProf          A   25       22  Female   62884
56  AssocProf          A   10        8  Female   77500
59  AssocProf          B   12       10  Female  103994
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
64  AssocProf          A   26       24  Female   73300
71  AssocProf          B   12        9  Female   71065
74  AssocProf          B   19        6  Female  104542

In [43]:
len(df[df['rank']=='AssocProf'])

13

In [44]:
df[(df['rank']=='AssocProf')&(df['discipline']=='A')]

         rank discipline  phd  service     sex  salary
6   AssocProf          A   20       17    Male   81285
41  AssocProf          A   13        8  Female   74830
54  AssocProf          A   25       22  Female   62884
56  AssocProf          A   10        8  Female   77500
64  AssocProf          A   26       24  Female   73300

In [45]:
df[df['rank']=='AsstProf']['salary'].max()

97032

In [46]:
print('The minimum years of service for Prof is',df[df['rank']=='Prof']['service'].min())

The minimum years of service for Prof is 0

In [47]:
print('The Average salary of Prof is',df[df['rank']=='Prof']['salary'].mean())

The Average salary of Prof is 123624.80434782608

In [48]:
df[(df['sex']=='Male')&(df['service']>=6)]

         rank discipline  phd  service   sex  salary
0        Prof          B   56       49  Male  186960
1        Prof          A   12        6  Male   93000
2        Prof          A   23       20  Male  110515
3        Prof          A   40       31  Male  131205
4        Prof          B   20       18  Male  104800
5        Prof          A   20       20  Male  122400
6   AssocProf          A   20       17  Male   81285
7        Prof          A   18       18  Male  126300
8        Prof          A   29       19  Male   94350
9        Prof          A   51       51  Male   57800
10       Prof          B   39       33  Male  128250
11       Prof          B   23       23  Male  134778
13       Prof          B   35       33  Male  162200
14       Prof          B   25       19  Male  153750
18       Prof          A   19        7  Male  107300
19       Prof          A   29       27  Male  150500
21       Prof          A   33       30  Male  103106
24       Prof          A   30       23  Male   91100
25       Prof          B   35       31  Male   99418
26       Prof          A   38       19  Male  148750
27       Prof          A   45       43  Male  155865
29       Prof          B   21       20  Male  123683
30  AssocProf          B    9        7  Male  107008
31       Prof          B   22       21  Male  155750
32       Prof          A   27       19  Male  103275
33       Prof          B   18       18  Male  120000
34  AssocProf          B   12        8  Male  119800
35       Prof          B   28       23  Male  126933
36       Prof          B   45       45  Male  146856
37       Prof          A   20        8  Male  102000

In [49]:
df[(df['sex']=='Male')&(df['rank']=='AsstProf')]['salary'].min()

73000

In [50]:
df[(df['rank']=='Prof')&(df['discipline']=='A')&(df['service']>=10)]['salary'].median()

110234.5

In [51]:
df[(df['rank']=='Prof')&(df['discipline']=='A')&(df['service']>=10)&(df['salary']>=93000)]

    rank discipline  phd  service     sex  salary
2   Prof          A   23       20    Male  110515
3   Prof          A   40       31    Male  131205
5   Prof          A   20       20    Male  122400
7   Prof          A   18       18    Male  126300
8   Prof          A   29       19    Male   94350
19  Prof          A   29       27    Male  150500
21  Prof          A   33       30    Male  103106
26  Prof          A   38       19    Male  148750
27  Prof          A   45       43    Male  155865
32  Prof          A   27       19    Male  103275
40  Prof          A   39       36  Female  137000
65  Prof          A   36       19  Female  117555
76  Prof          A   28       14  Female  109954
77  Prof          A   23       15  Female  109646

In [52]:
df.groupby(['rank','sex'])[['salary','phd']].median()

                    salary   phd
rank      sex
AssocProf Female   90556.5  13.0
          Male    107008.0  12.0
AsstProf  Female   77000.0   5.0
          Male     89500.0   4.0
Prof      Female  120257.5  23.0
          Male    124991.5  27.5

In [53]:
df[(df['rank']=='AsstProf')&(df['phd']>=20)]

Empty DataFrame
Columns: [rank, discipline, phd, service, sex, salary]
Index: []

In [54]:
df[(df['rank']=='AssocProf')&(df['phd']>=19)]

         rank discipline  phd  service     sex  salary
6   AssocProf          A   20       17    Male   81285
54  AssocProf          A   25       22  Female   62884
64  AssocProf          A   26       24  Female   73300
74  AssocProf          B   19        6  Female  104542

In [55]:
df[df['discipline']=='A']['salary']

1      93000
2     110515
3     131205
5     122400
6      81285
7     126300
8      94350
9      57800
18    107300
19    150500
21    103106
22     73000
23     85000
24     91100
26    148750
27    155865
32    103275
37    102000
40    137000
41     74830
52    105000
53     73500
54     62884
55     72500
56     77500
57     72500
63     91000
64     73300
65    117555
66     63100
67     90450
68     77500
69    116450
70     78500
76    109954
77    109646
Name: salary, dtype: int64

In [56]:
df[['rank','salary','phd']].describe()

              salary        phd
count      78.000000  78.000000
mean   108023.782051  19.705128
std     28293.661022  12.498425
min     57800.000000   1.000000
25%     88612.500000  10.250000
50%    104671.000000  18.500000
75%    126774.750000  27.750000
max    186960.000000  56.000000

In [57]:
df[df['rank']=='AssocProf']['salary'].min()

62884

In [59]:
df[df['rank']=='Prof']['salary']

0     186960
1      93000
2     110515
3     131205
4     104800
5     122400
7     126300
8      94350
9      57800
10    128250
11    134778
13    162200
14    153750
15    150480
18    107300
19    150500
21    103106
24     91100
25     99418
26    148750
27    155865
29    123683
31    155750
32    103275
33    120000
35    126933
36    146856
37    102000
39    129000
40    137000
44    151768
45    140096
48    111512
49    122960
51    127512
52    105000
58    144651
63     91000
65    117555
67     90450
69    116450
72    161101
73    105450
75    124312
76    109954
77    109646
Name: salary, dtype: int64

In [60]:
df.iloc[:,[3,4,5]]

    service     sex  salary
0        49    Male  186960
1         6    Male   93000
2        20    Male  110515
3        31    Male  131205
4        18    Male  104800
..      ...     ...     ...
73       10  Female  105450
74        6  Female  104542
75       17  Female  124312
76       14  Female  109954
77       15  Female  109646

[78 rows x 3 columns]

In [61]:
df.groupby(['rank','sex','discipline'])['salary'].mean()

rank       sex     discipline
AssocProf  Female  A              72128.500000
                   B              99435.666667
           Male    A              81285.000000
                   B             113404.000000
AsstProf   Female  A              72933.333333
                   B              84189.800000
           Male    A              79000.000000
                   B              88224.000000
Prof       Female  A             109631.875000
                   B             131836.200000
           Male    A             113164.400000
                   B             137989.076923
Name: salary, dtype: float64